/****************************************************************************************************
*   Stanford Theming File
*
*   Contains all the theme color definitions for the Stanford Open Source MOOC Project
*
****************************************************************************************************/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

//-----------------
//  Color variables (from Stanford palette unless noted)
//-----------------

//Main Color Variables
$main-color: #ffc200;
$dark-color: #ffc200; //Link Color
$light-color: #f4e00c; //Selected Header BG Color, ie. calendar        ***Custom, not from palette***
$bg-color: #f7fe81; //Selected Content BG Color, ie. calendar          ***Custom, not from palette***

//Main BG Color Variables
$main-bg: #ffc200;
$main-bg-60: lighten($main-bg, 18.5%); //Main Border/HR Color
$main-bg-25: lighten($main-bg, 25%); 

//Secondary Color Variables
$secondary: #b5a4b7;
$secondary-50: lighten($secondary, 9%);
$secondary-25: lighten($secondary, 20%); //Important Heading BG Color 

//Gray Color Variables
$gray: #3f3f3f; //Main Text Color
$gray-75: lighten($gray, 18.25%); //Lighter Text Color

$gray-3: #e9e9e9; //Block/Course BG Color
$gray-2: #f2f2f2;
$gray-1: #fbfbfb; //Main BG Color
$white: $gray-1;

$black: #2e2e2e;
$black-80: #585858;



//-----------------
//  Font Assignment
//-----------------

$theme-sans-font: 'Roboto';
$sans-serif: $theme-sans-font, $sans-serif;
$body-font-family: $sans-serif;

$theme-serif-font: 'Crimson Text';
$serif: $theme-serif-font, $serif;

$theme-alternative-font: 'Roboto';


//-----------------
//  Theme Element Assignments
//-----------------

$body-bg: $gray-1;
$container-bg: $gray-1;
$login-register-bg: $gray-1;
$content-wrapper-bg: $gray-1;
$header-image: none;
$header-bg: transparentize(lighten($secondary, 18.5%), .25);
$courseware-header-image: none;
$courseware-header-bg: transparentize(lighten($secondary, 18.5%), .25);
$footer-bg: $secondary-25;
$courseware-footer-border: 1px solid $main-bg-60;
$courseware-footer-shadow: box-shadow(2px 1px 0 rgba(0, 0, 0, .1));
$courseware-footer-margin: 50px;

$faded-hr-image-1: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-2: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-3: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-4: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-5: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-6: linear-gradient($main-bg-60 0%, $main-bg-60);

$base-font-color: $black;
$lighter-base-font-color: $black-80;
$very-light-text: $gray-1;

$link-color: $dark-color;
$link-color-d1: $dark-color;
$link-hover: $light-color;
$site-status-color: $bg-color;

$header-graphic-super-color: $dark-color;
$header-graphic-sub-color: $lighter-base-font-color;

$header-link-color: $dark-color;
$header-link-hover: $light-color;

$button-color: $main-color;
$button-archive-color: $gray-3;

$shadow-color: $gray;

// actions
$button-bg-image: none;
$button-bg-color: $gray-3;
$button-bg-hover-color: $gray-1;

// actions - primary
$action-primary-bg: $main-color;
$action-primary-fg: $gray-2;
$action-primary-shadow: none;

// focused - hover/active pseudo states
$action-primary-focused-bg: $dark-color;
$action-primary-focused-fg: $gray-1;

// current or active navigation item
$action-primary-active-bg: $dark-color;
$action-primary-active-fg: $gray-1;
$action-primary-active-shadow: none;
$action-primary-active-focused-fg: $gray-2;
$action-primary-active-focused-shadow: none;

// disabled
$action-primary-disabled-bg: $gray-75;
$action-prmary-disabled-fg: $gray-1;



// actions - secondary
$action-secondary-bg: $secondary;
$action-secondary-fg: $gray;
$action-secondary-shadow: none;

// focused - hover/active pseudo states
$action-secondary-focused-bg: $secondary-50;
$action-secondary-focused-fg: $gray;

// current or active navigation item
$action-secondary-active-bg: $secondary-50;
$action-secondary-active-fg: $gray;
$action-secondary-active-shadow: none;
$action-secondary-active-focused-fg: $gray-75;
$action-secondary-active-focused-shadow: none;

// disabled
$action-secondary-disabled-bg: $gray-3;
$action-secondary-disabled-fg: $gray;

//

$border-color-1: $main-bg-60;
$border-color-2: $main-bg-60;
$border-color-3: $main-bg-60;
$outer-border-color: $main-bg-60;

$sidebar-color: $gray-1;

$homepage__header--gradient__color--alpha: $secondary-25;
$homepage__header--gradient__color--bravo: $secondary-25;
$homepage__header--background: $secondary-25;
$dashboard-profile-header-image: none;
$dashboard-profile-header-color: $secondary-25;
$dashboard-profile-color: $gray-3;
$dot-color: $main-bg-60;

$course-bg-color: $gray-3;
$course-bg-image: none;
$account-content-wrapper-bg: $gray-1;

$course-profile-bg: $gray-1;
$course-header-bg: transparentize($gray-1, .1);

$sidebar-chapter-bg-top: transparentize($gray-1, .3);
$sidebar-chapter-bg-bottom: transparentize($gray-1, .9);
$sidebar-chapter-bg: $gray-2;
$sidebar-active-image: $gray-3;

$form-bg-color: $gray-1;
$modal-bg-color: $gray-1;

//TOP HEADER IMAGE MARGIN
$header_image_margin: -77px;

//FOOTER MARGIN
$footer_margin: ($baseline/4) 0;

//-----------------
//  CSS BG Images
//-----------------
$homepage-bg-image: url('../images/sunrise.jpg');

$login-banner-image: none;
$register-banner-image: none;

$video-thumb-url: '../images/edx.png';

//-----------------
//  Mixin Styles
//-----------------
@mixin login_register_h1_style {
    clip: auto !important;
    height: 50px;
    width: 550px;
    top: 0;
}

@mixin footer_references_style {
    margin: 0 !important;
    text-align: right;
}

//-----------------
// Elementos total
//-----------------

//Menu Topo
header.global .user .dropdown-menu{
    border: 1px solid #eaeeef;
}
header.global .user .dropdown-menu li{
    border-top: 1px solid #eaeeef;
}
header.global .user .dropdown-menu li>a{
    color: #3f3e3e;
    font-family: 'Roboto';
    font-weight: bold;
}
header.global .user .dropdown-menu::before{
    display: none;
}
a:link, a:visited{
    color: #7b7a7a !important
}
.wrapper-footer{
    background: #2f2f2f !important;
}

.wrapper-footer footer .references{
	float: right;
}
.wrapper-footer footer .colophon .nav-colophon li a{
    color: white !important
}
header.global nav {
	height: 47px;
}

header.global {
	height: 80px;
    background: #2f2f2f !important;
}
header.global .user a.user-link{
    border: none;
    border-radius: 0px;
    background: none;
    color: white !important;
    text-shadow: none;
    font-size: 18px;
    box-shadow: none;
}
header.global .user a.user-link .avatar{
    display: none;
}
header.global .user>.primary:last-child>a{
    border: none;
    background: none;
    font-size: 30px;
    color: white !important;
    margin-top: -6px;
    box-shadow: none;
}
header.global.slim h2{
    text-shadow: none !important;
    color: white !important;
}
header.global.slim h2 .provider{
    color: white
}
.home>header .outer-wrapper{
	padding-top: 190px;
}

.home>header{
	height: 390px;
    display: none;
}
.course-info header.course-profile{
    background: none;
    border: none;
    box-shadow: none;
}
.course-info header.course-profile .intro-inner-wrapper{
    border: none;
    box-shadow: none;
    background: none;
}
.course-info header.course-profile .intro-inner-wrapper .intro .main-cta>a.find-courses, .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register, .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.add-to-cart{
    background-color: #ffc200 !important;
}
.course-info header.course-profile .intro-inner-wrapper .intro .main-cta>a.find-courses:hover:not(:disabled), .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register:hover:not(:disabled), .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.add-to-cart:hover:not(:disabled){
    background-color: #ffc200 !important;
}
.main-cta .botao-comprar{
border: none;
background: #fad452 !important;
color: #494949;
font-family: 'Roboto' !important;
border-radius: 3px !important;
box-shadow: inset 0 1px 0 0 #f8d154 !important;
display: inline-block !important;
font-size: inherit;
font-weight: bold;
padding: 7px 18px !important;
text-decoration: none;
text-shadow: 0 1px 0 #ffc714;
background-clip: padding-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
display: block;
float: left;
font: normal 15px/1.6rem "Roboto","Open Sans",Verdana,Geneva,sans-serif,sans-serif;
letter-spacing: 0;
padding: 6px 32px 7px;
text-align: center;
}
header.global .nav-global, header.global header.global-new .nav-courseware, header.global-new header.global .nav-courseware {
margin-top: 14px;
}
header.global .nav-courseware li .cta, header.global .nav-courseware div .cta, .view-partial-mktgregister .action.action-register, .view-partial-mktgregister .action.access-courseware{
    color: #f2f2f2 !important;
}
h1,h2{font-family: 'Roboto' !important}
.home>header {background-size: initial; background-size: inherit;}

.highlighted-courses .courses .course:hover .info,.highlighted-courses .courses .course:focus .info,.find-courses .courses .course:hover .info,.find-courses .courses .course:focus .info {
    top: 0px !important
}

.highlighted-courses .courses .course .inner-wrapper, .find-courses .courses .course .inner-wrapper{
    overflow: visible !important;
    border: none;
}

.highlighted-courses .courses .course:hover, .highlighted-courses .courses .course:focus, .find-courses .courses .course:hover, .find-courses .courses .course:focus{
    border-color: #eaeeef;
    box-shadow: none;
}
.highlighted-courses .courses .course, .find-courses .courses .course{
    border: 1px solid #eaeeef;
    border-radius: 3px;
    box-shadow: none;
    height: 306px;
}
.highlighted-courses .courses .course header.course-preview, .find-courses .courses .course header.course-preview{

}
.highlighted-courses .courses .course header.course-preview, .highlighted-courses .courses .course header.course-preview, .find-courses .courses .course header.course-preview{
    border-bottom: none;
    margin-top: 137px;
}
.find-courses .courses .course header.course-preview .info-link{display: none}
.highlighted-courses .courses .courses-listing .courses-listing-item, .find-courses .courses .courses-listing .courses-listing-item{
    width: 23.36%;
}
.highlighted-courses .courses .course .info .cover-image, .find-courses .courses .course .info .cover-image{
    height: initial !important;
}
.highlighted-courses .courses .course .meta-info, .find-courses .courses .course .meta-info{
    display: none
}
.highlighted-courses .courses .course header.course-preview .info-link, .find-courses .courses .course header.course-preview .info-link{
    display: none
}
.highlighted-courses .courses .course header.course-preview hgroup h2, .find-courses .courses .course header.course-preview hgroup h2{
    color: #3f3e3e;
    font-family: 'Roboto' !important;
    font-size: 24px;
}
.highlighted-courses .courses .course header.course-preview hgroup, .find-courses .courses .course header.course-preview hgroup{
    width: 93%;
    margin-top: 18px;
}
.highlighted-courses .courses .course .info .desc, .find-courses .courses .course .info .desc{
    margin-top: 80px;
    height: initial !important;
    margin-bottom: 10px;
}
.desc p{
    color: #606060;
    font: 17px Roboto, "Crimson Text",Georgia,Cambria,"Times New Roman",Times,serif;
    margin: 0px;
}   
.highlighted-courses .courses .course .info .bottom, .find-courses .courses .course .info .bottom{
    background: #fad452;
    display: block;
    height: 54px;
}
.highlighted-courses .courses .course .info .bottom .university, .highlighted-courses .courses .course .info .bottom .start-date, .find-courses .courses .course .info .bottom .university,.find-courses .courses .course .info .bottom .start-date{display: none}
.highlighted-courses .courses .course .info .bottom:after, .find-courses .courses .course .info .bottom:after{
    content: 'Assistir';
    display: block;
    padding: 19px;
    color: #3f3e3e;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
}
.highlighted-courses .courses .course header.course-preview hgroup h2 .course-number, .find-courses .courses .course header.course-preview hgroup h2 .course-number{
    display: none;
}
.highlighted-courses .courses .course .info, .find-courses .courses .course .info{
    height: initial !important;
    background: white;
}
.cta-login{background: transparent !important; font-size: 19px !important}

/*Login Page*/

.login aside .cta, .register aside .cta, .passwordreset aside .cta, #forgot-password-modal #password-reset aside .cta{
    border: 1px solid #eaeeef;
    padding: 29px;
}

.view-register .introduction header .title .title-super, .view-login .introduction header .title .title-super, .view-passwordreset .introduction header .title .title-super{
    font-size: 26px;
    font-family: 'Roboto';
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    color: #3f3e3e;
}
.view-register .introduction header .title .title-sub, .view-login .introduction header .title .title-sub, .view-passwordreset .introduction header .title .title-sub{
    margin-left: 0;
    font-size: 20px;
    text-transform: lowercase;
    color: #585858;
    text-align: center;
    font-family: 'Roboto';
}
.login form .field label, .register form .field label, .passwordreset form .field label, #forgot-password-modal #password-reset form .field label{
    font: 18px 'Roboto';
    font-weight: bold;
}
#field-remember label{
    font-size: 14px;
font-weight: normal;
}
.login form .field input, .login form .field textarea, .register form .field input, .register form .field textarea, .passwordreset form .field input, .passwordreset form .field textarea, #forgot-password-modal #password-reset form .field input, #forgot-password-modal #password-reset form .field textarea{
    border: 1px solid #eaeeef;
}
.view-register .introduction header .title, .view-login .introduction header .title, .view-passwordreset .introduction header .title{
    width: 100%;
}
.view-register .login aside .cta h3, .login aside .cta .view-register h3, .view-register .register aside .cta h3, .register aside .cta .view-register h3, .view-register .passwordreset aside .cta h3, .passwordreset aside .cta .view-register h3, .view-register #forgot-password-modal #password-reset aside .cta h3, #forgot-password-modal #password-reset aside .cta .view-register h3, .view-register .login .status .message-title, .login .status .view-register .message-title, .view-register .register .status .message-title, .register .status .view-register .message-title, .view-register .passwordreset .status .message-title, .passwordreset .status .view-register .message-title, .view-register #forgot-password-modal #password-reset .status .message-title, #forgot-password-modal #password-reset .status .view-register .message-title, .view-login .login aside .cta h3, .login aside .cta .view-login h3, .view-login .register aside .cta h3, .register aside .cta .view-login h3, .view-login .passwordreset aside .cta h3, .passwordreset aside .cta .view-login h3, .view-login #forgot-password-modal #password-reset aside .cta h3, #forgot-password-modal #password-reset aside .cta .view-login h3, .view-login .login .status .message-title, .login .status .view-login .message-title, .view-login .register .status .message-title, .register .status .view-login .message-title, .view-login .passwordreset .status .message-title, .passwordreset .status .view-login .message-title, .view-login #forgot-password-modal #password-reset .status .message-title, #forgot-password-modal #password-reset .status .view-login .message-title, .view-passwordreset .login aside .cta h3, .login aside .cta .view-passwordreset h3, .view-passwordreset .register aside .cta h3, .register aside .cta .view-passwordreset h3, .view-passwordreset .passwordreset aside .cta h3, .passwordreset aside .cta .view-passwordreset h3, .view-passwordreset #forgot-password-modal #password-reset aside .cta h3, #forgot-password-modal #password-reset aside .cta .view-passwordreset h3, .view-passwordreset .login .status .message-title, .login .status .view-passwordreset .message-title, .view-passwordreset .register .status .message-title, .register .status .view-passwordreset .message-title, .view-passwordreset .passwordreset .status .message-title, .passwordreset .status .view-passwordreset .message-title, .view-passwordreset #forgot-password-modal #password-reset .status .message-title, #forgot-password-modal #password-reset .status .view-passwordreset .message-title{
    font-family: 'Roboto' !important;
}
.cta-help a{
    color: #606060 !important;
    font-weight: bold !important;
}
.cta-register{display: none !important}
.login .form-actions button[type="submit"], .register .form-actions button[type="submit"], .passwordreset .form-actions button[type="submit"], #forgot-password-modal #password-reset .form-actions button[type="submit"], .view-survey .action-primary, .view-partial-mktgregister .action.action-register, .view-partial-mktgregister .action.access-courseware{
    background: #fad452 !important;
    color: #494949 !important;
}

/*Interna do Curso*/
.course-info .details .inner-wrapper .course-staff .teacher{
    float: left; margin-right: 20px
}
.course-info .details .inner-wrapper .course-staff .teacher .teacher-image{
    float: none;
    margin: 0 auto;
    border: none !important
}
.course-info .details .inner-wrapper .course-staff .teacher h3{
    text-align: center;
    margin-top: 5px
}
.course-info .details .inner-wrapper .course-staff .teacher p{
    text-align: center;
}
.course-staff h2{
    text-align: center;
}
.course-info .course-sidebar>section{
    border: 1px solid #eaeeef;
    box-shadow: none;
}
.course-info .course-sidebar header{
    display: none
}
.course-info .course-sidebar .important-dates{
    padding: 20px 10px 0 10px
}
.course-info .course-sidebar .important-dates li{
    border-bottom: 1px dotted #eaeeef
}
.course-info .details h2, .course-info .details section.outside-app h1, section.outside-app .course-info .details h1{
    font-weight: bold;
    text-transform: none
}
.course-info header.course-profile .intro-inner-wrapper .media .hero{
    border: none;
}
.home .university-partners hr::after, .course-info .container nav::after, .course-info section.outside-app nav::after, .course-info .course-sidebar header::after, .mediakit hr::after, .container.about>nav::after, section.about.outside-app>nav::after{
    background-image: -webkit-linear-gradient(#eaeeef 0%, #eaeeef);
}
.main-cta .register, .main-cta .register:hover, .dashboard .my-courses .course .info .enter-course, .dashboard .my-courses .course .info .enter-course:hover, .course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong{
    border: none !important;
    background: #fad452 !important;
    color: #494949 !important;
    font-family: 'Roboto' !important;
}

/*Listagem de Curso*/
.dashboard .my-courses .course .info>hgroup h3 a, .dashboard .my-courses .course .info>hgroup h3 span{
    font-family: 'Roboto' !important; 
    font-weight: bold;
    font-size: 18px !important;
    color: #3f3e3e !important;

}
.dashboard .my-courses .course .info .enter-course:hover{
    background: #fad452 !important;
    box-shadow: none;
}
.dashboard .my-courses .course .info .enter-course:hover:not(:disabled){
    background: #fad452 !important;
    box-shadow: none;
}
.dashboard .my-courses a.unenroll, .dashboard .my-courses a.email-settings{
    font-style: normal !important
}
.content-wrapper{
    background: white !important;
}
.container>div{
    border: 1px solid #dee1e2 !important;
    background: white !important;
}
.sidebar, .course-index, div#wiki_panel, div.info-wrapper section.handouts, div.book-wrapper section.book-sidebar, .profile-wrapper .user-info{
    background: white !important;
}
.course-index{
    border-right: 1px solid #dee1e2 !important
}
.course-index div#accordion h3.ui-accordion-header.ui-state-active a{
    font-weight: bold;
}
.course-index div#accordion h3.ui-accordion-header a{
    color: #3f3e3e;
}
.dashboard .profile-sidebar .user-info>ul{
    border: 1px solid #dee1e2 !important;
}
.dashboard .profile-sidebar header.profile{
    border: 1px solid #dee1e2 !important;
}
nav.course-material ol.course-tabs li a.active, nav.course-material .xmodule_display.xmodule_SequenceModule nav.sequence-nav ol.course-tabs li a.seq_video.active, .xmodule_display.xmodule_SequenceModule nav.sequence-nav nav.course-material ol.course-tabs li a.seq_video.active, nav.course-material ol.course-tabs li a:hover{
    background: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
    color: #3f3e3e !important;
    border-bottom: 4px solid #fad452 !important;
    border-radius: 0px !important;
    color: #fad452 !important;
    font-size: 16px !important;
    font-family: 'Roboto' !important;
}
nav.course-material ol.course-tabs li a{
    color: #3f3e3e !important;
    font-size: 16px !important;
    font-family: 'Roboto' !important;
}
nav.course-material ol.course-tabs{
    padding: 28px 0 0 0 !important;
}
.ltr .container{
    padding: 0px 0 0 0;
}
.view-dashboard .container{
    padding: 40px 0 0 0 !important;
}
.login.container{
    padding-bottom: 60px !important;   
}
.xmodule_display.xmodule_SequenceModule nav.sequence-nav ul li{
    border-radius: 0 !important;
    background: white !important;
}
body.discussion .course-tabs .right .new-post-btn{
    background: #fad452 !important;
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    color: #3f3e3e !important;
    font-family: 'Roboto' !important;
    font-size: 16px !important;
}
.forum-nav-header{
    background: none !important
}
.forum-nav-header:hover{
    background: none !important   
}
.forum-nav-refine-bar{
    background: none !important    
}
.container .discussion-body .blank-slate .label, .container .discussion-module .blank-slate .label, .container .discussion-user-threads .blank-slate .label{
    display: none;
}

.container .discussion-body .blank-slate section, .container .discussion-module .blank-slate section, .container .discussion-user-threads .blank-slate section{
    border: none !important;
}
.container .discussion-body .discussion-article, .container .discussion-module .discussion-article, .container .discussion-user-threads .discussion-article{
    background: none !important
}
.container .discussion-body .blank-slate .home-title, .container .discussion-module .blank-slate .home-title, .container .discussion-user-threads .blank-slate .home-title{
    font-family: 'Roboto' !important;
    font-size: 18px;
}
section.wiki .btn, section.wiki .btn:hover{
    border: none !important;
    background: #fad452 !important;
    border-radius: 0 !important;
    text-shadow: none !important;
    color: #3f3e3e !important;
    font-size: 16px !important;
}
section.wiki .breadcrumb li a{
    font-size: 18px;
    font-weight: bold;
    color: #3f3e3e;
}
section.wiki .breadcrumb li a:hover{
    color: #fad452 !important
}

/*Tela de Registro*/
.view-register .container, .view-register section.outside-app, .view-register .introduction, .view-login .container, .view-login section.outside-app, .view-login .introduction, .view-passwordreset .container, .view-passwordreset section.outside-app, .view-passwordreset .introduction{
    background: none;
}
.view-register .login form .instructions, .login form .view-register .instructions, .view-register .register form .instructions, .register form .view-register .instructions, .view-register .passwordreset form .instructions, .passwordreset form .view-register .instructions, .view-register #forgot-password-modal #password-reset form .instructions, #forgot-password-modal #password-reset form .view-register .instructions, .view-login .login form .instructions, .login form .view-login .instructions, .view-login .register form .instructions, .register form .view-login .instructions, .view-login .passwordreset form .instructions, .passwordreset form .view-login .instructions, .view-login #forgot-password-modal #password-reset form .instructions, #forgot-password-modal #password-reset form .view-login .instructions, .view-passwordreset .login form .instructions, .login form .view-passwordreset .instructions, .view-passwordreset .register form .instructions, .register form .view-passwordreset .instructions, .view-passwordreset .passwordreset form .instructions, .passwordreset form .view-passwordreset .instructions, .view-passwordreset #forgot-password-modal #password-reset form .instructions, #forgot-password-modal #password-reset form .view-passwordreset .instructions{
    font-family: 'Roboto';
}
.login aside .cta-login .cta-login-action:hover, .register aside .cta-login .cta-login-action:hover, .passwordreset aside .cta-login .cta-login-action:hover, #forgot-password-modal #password-reset aside .cta-login .cta-login-action:hover, .login aside .cta-login .cta-login-action:active, .register aside .cta-login .cta-login-action:active, .passwordreset aside .cta-login .cta-login-action:active, #forgot-password-modal #password-reset aside .cta-login .cta-login-action:active, .login aside .cta-login .cta-login-action:focus, .register aside .cta-login .cta-login-action:focus, .passwordreset aside .cta-login .cta-login-action:focus, #forgot-password-modal #password-reset aside .cta-login .cta-login-action:focus{
    border: none;
}
.register aside .cta-login .cta-login-action{
    border: none;
    background: #fad452;
    color: #494949;
    margin-top: 10px;
    width: 95%;
    text-align: center;
    font-weight: bold;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.register aside .cta-login .cta-login-action:hover{background: #fad452;}
.register aside .cta-login .instructions{width: 100%}

.find-courses header.search, .university-profile header.search{display: none}